/*
*	DevilNotes-Original-Theme, Made by Evlos.
*/

/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
* html .clearfix {
	height: 1%; /* IE5-6 */
}
*+html .clearfix {
	display: inline-block; /* IE7not8 */
}
.clearfix:after { /* FF, IE8, O, S, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Base */
a {
	color: #268785;
	text-decoration: none;
}
h1 {
	font-size: 40px;
}
ul {
	margin: 18px 0;
	list-style: circle;
}
li {
	margin-left: 36px;
	padding: 4px 0;
}
table {
}
table tr td {
	padding: 8px 12px;
}
pre {
	font-family: 'Monaco', 'monospace';
	background: #fafafa;
	border-left: 3px solid #eee;
	padding: 8px 12px;
	margin: 12px 0 0;
	overflow-y: hidden;
	overflow-x: scroll;
}
strong {
	border-bottom: 2px solid #268785;
}

/* General */
body {
	font-family: '微软雅黑';
	background: url('images/bg.gif');
	line-height: 24px;
}
.left {
	float: left;
}
.right {
	float: right;
}
.content p:first-letter{
}
.content p {
	padding: 12px 0 0;
	line-height: 20px;
}
.box {
	border-bottom: 3px solid #eee;
	margin: 25px 0;
	background: #fefefe;
	padding: 30px 30px 15px;
	-moz-box-shadow: 0px 0px 6px #888;
	-webkit-box-shadow: 0px 0px 6px #888;
	box-shadow: 0px 0px 6px #888;
	overflow: hidden;
}
table .ar {
	text-align: right;
}

/* Detail */
#wrapper {
	width: 90%;
	padding: 25px 30px;
	margin: 0 auto;
	border-top: 8px solid #eee;
	border-bottom: 8px solid #eee;
}
#header {
	border-bottom: 3px solid #268785;
	padding: 15px 0 25px;
}
#header .title h1 {
	float: left;
}
#header .title h1 a {
	color: #268785;
}
#header .title .desc {
	float: right;
	font-size: 40px;
	color: #bbb;
}

#sidebar {
	width: 20%;
	border-right: 2px dashed #eee;
	padding: 0 3% 0 0;
}
#sidebar .inside {
	margin: 27px 0 25px;
	border-top: 3px solid #eee;
	background: #fafafa;
	padding: 12px 12px 12px 0;
	color: #aaa;
}

#content {
	width: 74%;
	margin: 0 0 25px;
	padding: 15px 0 15px;
}
#content .article, #article {
	border-bottom: 3px solid #eee;
	padding-bottom: 25px;
	margin-bottom: 25px;
}
#content .article .sidebar, #article .sidebar, #panel .left {
	color: #aaa;
	background: #fafafa;
	padding: 12px 0 12px 12px;
	margin: 12px 0 0;
	border-top: 3px solid #eee;
}
#content .article .sidebar ul, #article .sidebar ul, #panel .left ul, #sidebar .inside ul {
	margin: 0;
}
#content .article .content .title, #article .content .title {
	font-size: 24px;
	padding-bottom: 18px;
}
#content .article .sidebar a, #article .sidebar a, #sidebar .inside a {
	color: #aaa;
	border-bottom: 2px solid #eee;
}
#content .article .info, #article .info {

}
#content .article .content, #article .content {
	width: 70%;
	margin: 12px 0 30px;
	border-right: 2px dashed #eee;
	padding-right: 3%;
}
#content .sidebar {
	width: 22%;
}

#article .title {
}
#article .content {
}

#footer {
	padding: 15px 0 25px;
}
#footer p {
	line-height: 24px;
}
#footer a, #links a {
	color: #aaa;
}

#errors {
	padding: 50px 0;
	font-size: 48px;
	text-align: center;
	color: #ddd;
}

#links, #panel, #paged {
	padding-bottom: 25px;
	margin-bottom: 15px;
	border-bottom: 3px dashed #eee;
}
#links ul {
	margin: 0;
	list-style: none;
	border-right: 2px solid #eee;
}
#links li {
	border-left: 2px solid #eee;
	padding-left: 8px;
	margin: 0;
	width: 118px;
}

#panel .left {
	width: 230px;
}
#panel .right {
	width: 580px;
}
#panel .right .tcontent {
	width: 450px;
	height: 200px;
}
#panel .right table {
	margin-top: 18px;
}

/* END */