/*
*	DevilNotes-Original-Theme, Made by Evlos.
*/

/* Reset CSS */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{border:0;font-size:100%;font:inherit;vertical-align:baseline;margin:0;padding:0}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}body{line-height:1}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}table{border-collapse:collapse;border-spacing:0}

/* Clearfix */
* html .clearfix {
	height: 1%; /* IE5-6 */
}
*+html .clearfix {
	display: inline-block; /* IE7not8 */
}
.clearfix:after { /* FF, IE8, O, S, etc. */
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* Base */
a {
	color: #6699A1;
	text-decoration: none;
}
h1 {
	font-size: 40px;
}
ul {
	margin: 18px 0;
	list-style: upper-roman;
}
li {
	margin-left: 36px;
	padding: 4px 0;
}

/* General */
body {
	background: url('images/bg.png');
}
.left {
	float: left;
}
.right {
	float: right;
}
.content p:first-letter{
	font-size:24px;
	padding-right:4px;
}
.content p {
	padding: 12px 0 0;
	line-height: 20px;
}

/* Wrapper */
#wrapper {
	width: 900px;
	padding: 30px 30px 45px;
	margin: 0 auto;
	background: #fefefe;
	-moz-box-shadow: 0px 0px 5px #ddd;
	-webkit-box-shadow: 0px 0px 5px #ddd;
	box-shadow: 0px 0px 5px #ddd;
}
#content {
	margin: 30px 0 45px;
}

/* Detail */
#header .title h1 {
	float: left;
}
#header .title h1 a {
	color: #aaa;
}
#header .title h1:first-letter {
	color: #6699A1;
}
#header .title .desc {
	float: right;
	font-size: 40px;
	color: #fafafa;
}

#content .article .title {
	margin: 0 0 18px 0;
	font-size: 24px;
	color: #888;
}
#content .article .content {
}

#article .title {
	margin: 0 0 18px 0;
	font-size: 24px;
}
#article .content {
}

#footer p {
	line-height: 24px;
}
#footer a {
	color: #aaa;
}

/* END */