{% extends 'wrapper.html' %}

{% block content %}

<div id="article" class="clearfix single">
	<div class="content left">
		<div class="title">
			<a href="/p/{{ item['id'] }}">{{ item['title'] }}</a>
		</div>
		<div class="show">
			{{ item['content'] }}
		</div>
	</div>
	<div class="sidebar right">
		<div class="info">
			<ul>
				<li>{{ timesFormat(item['id']) }}</li>
				{% if isAdmin %}
					<li><a href="/admin/edit/{{ item['id'] }}">EDIT</a></li>
				{% end %}
			</ul>
		</div>
	</div>
</div>

{% end %}
