{% extends 'wrapper.html' %}

{% block content %}

<div id="articles">
	{% for item in items %}
	<div class="article clearfix">
		<div class="sidebar left">
			<div class="info">
				<ul>
					<li>{{ timesFormat(item['id']) }}</li>
					{% if isAdmin %}
						<li><a href="/admin/edit/{{ item['id'] }}">Article EDIT</a></li>
						<li><a href="/admin/add">Article ADD</a></li>
					{% end %}
				</ul>
			</div>
		</div>
		<div class="content right">
			<div class="title">
				<a href="/p/{{ item['id'] }}">{{ item['title'] }}</a>
			</div>
			<div class="show">
				{{ item['content'] }}
			</div>
		</div>
	</div>
	{% end %}
</div>

<!-- {{ isPagedEnough }} {{ page }} -->
{% if page > 0 %}
	<div id="paged" class="clearfix">
		{% if page > 1 %}
			<div class="left">
				{% if page == 2 %}
					<a href="/"><- Prev</a>
				{% else %}
					<a href="/page/{{ minus(page) }}"><- Prev</a>
				{% end %}
			</div>
		{% end %}
		{% if isPagedEnough %}
			<div class="right">
				<a href="/page/{{ plus(page) }}">Next -></a>
			</div>
		{% end %}
	</div>
{% end %}

<div id="links">
	<ul class="clearfix">
	{% for link in links %}
		<li class="left">
			<a href="{{ link['url'] }}" target="_blank">{{ link['name'] }}</a>
		</li>
	{% end %}
	<ul>
</div>

{% end %}
